@model PanelViewModel

<div class="shop-header textinfo">
    <div class="textname">
        <img src="/img/user.png" class="imguser">

        <p class="textuser"><strong> سلام @User.Identity.Name عزیز ! </strong></p>
    </div>
    <ul class="liuser">
        <li><button id="default" class="tabbtn active" onclick="tabss(event,'pishkhan')">پیشخوان</button>  </li>
        <li><button id="tab-bbtn" class="tabbtn" onclick="tabss(event,'virayesh')"> ویرایش اطلاعات </button></li>
        <li><button id="tab-bbtn" class="tabbtn" onclick="tabss(event,'sefaresh')"> سفارش ها </button> </li>
        <li><button id="tab-bbtn" class="tabbtn" onclick="tabss(event,'download')">  محصولات خریداری شده </button></li>
        <li><button id="tab-bbtn" class="tabbtn" onclick="tabss(event,'alaghemandi')"> علاقه مندی ها </button></li>
        <li><a asp-action="Logout" asp-controller="Account"  class="tabbtn" > خروج </a></li>
    </ul>
</div>
<div class="shop-header textinfo">
    <div class="content">
        <div id="pishkhan" class="tab-content">
            <div class="object">
                <div>
                    <span><b>نام کاربری : </b></span>
                    <span>
                        @Model.User.UserName
                    </span>
                </div>
                <div>
                    <span><b>ایمیل : </b></span>
                    <span>
                        @Model.User.Email
                    </span>
                </div>
               

            </div>
        </div>
        <div id="virayesh" class="tab-content" style="display:none;">
            <form asp-action="EditInfo" asp-controller="Account">
                <div class="object focus-information">
                    <input asp-for="User.Id" type="hidden" value="@Model.User.Id" />
                    <p> نام کاربری : </p>
                    <p class="inputuser">@Model.User.UserName</p>
                    <p> رمز ورود : </p>
                    <input asp-for="User.Password" value="@Model.User.Password" class="inputuser" type="password">
                    <div style="display:flex">
                        <div style="padding:1rem;">
                            <img src="/img/@Model.User.Image" width="100px"/>
                            <br />
                            <p> عکس : </p>
                            <input class="inputuser" type="file" accept=".jpg, .jpeg, .png" id="uploadpic">
                       
                        </div>
                        
                            
                    </div>
                    <p> ایمیل : </p>
                    <input asp-for="User.Email" class="inputuser" value="@Model.User.Email" type="email">

                </div>
                <button class="inputuser submitchange"> تایید </button>
            </form>
        </div>
        <div id="sefaresh" class="tab-content" style="display:none;">
            <div class="object comment">
                <textarea rows="10" placeholder=" نظر شما !!! "></textarea>
                <input type="text" placeholder="نام شما ">
                <input type="email" placeholder="ایمیل">
                <input type="number" min="1" max="5" value="5">
                <button> ارسال نظر </button>
            </div>
        </div>
        <div id="download" class="tab-content" style="display:none;">
            <div class="object comment">
                <textarea rows="10" placeholder=" نظر شما !!! "></textarea>
                <input type="text" placeholder="نام شما ">
                <input type="email" placeholder="ایمیل">
                <input type="number" min="1" max="5" value="5">
                <button> ارسال نظر </button>
            </div>
        </div>
        <div id="alaghemandi" class="tab-content" style="display:none;">
            <div class="object comment">
                <textarea rows="10" placeholder=" نظر شما !!! "></textarea>
                <input type="text" placeholder="نام شما ">
                <input type="email" placeholder="ایمیل">
                <input type="number" min="1" max="5" value="5">
                <button> ارسال نظر </button>
            </div>
        </div>
    </div>
</div>
